.input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px; /* Lisää tilaa elementtien väliin */
  margin-right: 20px;
}

.input-container h2 {
  margin-right: 20px; /* Lisää väliä otsikon ja elementtien välille */
}

.input-container select,
.input-container input,
.input-container button {
  margin-left: 10px; /* Lisää väliä elementtien väliin */
}